@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .fade-up {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease, transform 0.8s ease;
  }

  .fade-up.show {
    opacity: 1;
    transform: translateY(0);
  }
}